# Criação de dados

A proposta deste notebook é criar um dataframe de dados mockados contendo as seguintes colunas:
- id
- data
- usuário
- empresa

In [8]:
import pandas as pd
from faker import Faker
import uuid
from datetime import datetime

In [13]:
fake = Faker(["pt_BR"])

In [29]:
# Quantidade de registros na tabela

lines = 100_000

In [44]:
# Criação de dados 

data = {
    "id": [uuid.uuid4() for _ in range(lines)],
    "data": [fake.date_time_between(start_date=datetime(2022, 1, 1)) for _ in range(lines)],
    "username": [fake.email() for _ in range(lines)],
    "company": [fake.company_id() for _ in range(lines)],
}

In [45]:
# Criação do dataframe

df = pd.DataFrame(data)

In [46]:
df.head()

,id,data,user,company
0,dc005d20-3252-414b-9a0c-a1053eccd3f3,2022-04-24 02:53:27,pietramoreira@example.org,24019685000186
1,92a89b93-382d-490c-93bc-e2a35226f2f9,2022-04-26 18:30:34,heloisajesus@example.com,14326798000170
2,c39e860c-9a2f-4298-a189-82274ac852b3,2022-06-20 01:52:58,rsilveira@example.com,80625734000103
3,9c5384ae-b6a0-408c-82e5-9d730d34ab5e,2022-03-30 09:07:52,apires@example.org,23807614000185
4,bba4dbeb-7dcb-4a25-8ca6-013f2761dfe2,2023-06-10 08:14:08,pintoluana@example.com,21648075000153

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   data     100000 non-null  datetime64[ns]
 2   user     100000 non-null  object
 3   company  100000 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 3.1+ MB

In [59]:
# Gerando o arquivo SQL

with open("../docker_databases/init.sql", "w") as f:
    f.write("\n\n-- Criação da tabela")
    f.write("""
    CREATE TABLE t_ponto (
          id VARCHAR(255) PRIMARY KEY,
          data TIMESTAMP,
          username VARCHAR(255),
          company VARCHAR(255)
    );\n
    """)
    
    f.write("\n\n-- Exportação dos dados\n\n")
    for i in df.index:
        f.write(f"INSERT INTO t_ponto (id, data, username, company) VALUES ('{str(df.iloc[i, 0])}', '{df.iloc[i, 1]}', '{df.iloc[i, 2]}', '{df.iloc[i, 3]}');\n")