# Notebook de desenvolvimento da analise

No meu processo de dsentvolvimewnto utilizo notebooks devido a sua praticidade na exploração e na analise de dados. Com uma abordagem muito proxima dos dados e dos resutados do processo de etl.

In [1]:
# Imports: pandas para tratamento de dados, sqlalchemy para conectar aos bancos de daddos
from datetime import datetime
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Urls de conexão

url_db_source = "postgresql+pg8000://postgres:senhasourcedb@localhost:10000/postgres"
url_db_target = "postgresql+pg8000://postgres:senhatargetdb@localhost:10000/postgres"

In [3]:
# Engines para comunicação

src_engine = create_engine(url_db_source)
target_engine = create_engine(url_db_target)

## Coletando dados
Neste trecho os dados serão coletados no servidor e modificados.

In [4]:
src_sql = "SELECT * FROM t_ponto"

df = pd.read_sql(src_sql, src_engine)

In [5]:
df.head()

,id,insert_date,username,company
0,5a3aa845-4af5-4fc2-bd09-0b4e81c82de0,2023-10-05 01:04:09,alana55@example.com,25316098000111
1,e2c82415-c478-456d-a145-b8eb462ce9e2,2023-10-01 17:28:28,da-motaisabelly@example.org,38615729000145
2,eaa5b4a9-e06d-4210-abbb-0c7488701510,2023-10-15 00:05:35,evelyn73@example.org,82350176000138
3,2e68b5fc-a014-47ba-8e36-60c4d37fd6e7,2023-10-15 21:01:54,santoshenrique@example.net,34726081000123
4,02dbf5b6-66ac-409d-829b-9d2d7f30cbd3,2023-10-08 07:06:08,peixotomaria-sophia@example.org,79326185000189

In [6]:
df.shape

(100000, 4)

### 1. Quantidade de pontos por usuário

In [7]:
df_q1 = df.groupby("username").count().id.reset_index()
df_q1.head()

               username  id
0  agatha00@example.com   3
1  agatha00@example.net   1
2  agatha01@example.net   1
3  agatha01@example.org   3
4  agatha05@example.org   3

### 2. Quantidade de pontos por empresa

In [8]:
df_q2 = df.groupby("company").count().id.reset_index()
df_q2.head()

          company   id
0  01327895000136   91
1  01369724000170   83
2  01374685000107   82
3  01376985000117  105
4  01496853000129   68

### 3. Usuários que mais tiveram pontos

In [9]:
df_q3 = df_q1.sort_values("id", ascending=False)[:10]
df_q3.head(20)

                             username  id
3348           carolina04@example.net  15
6025              diogo42@example.net  15
6589       emanuellasales@example.com  15
6832       enzo-gabriel42@example.net  15
5156        da-rochaandre@example.com  15
18231          sofiacosta@example.org  15
8403   gustavo-henrique31@example.com  14
16576      piresana-luiza@example.net  14
10051          joaoda-paz@example.org  14
10053         joaoda-rosa@example.com  14

### 4. Média diária de marcações

In [10]:
df_q4 = df.copy()
df_q4["insert_date"] = df_q4["insert_date"].apply(lambda x: x.date())
df_q4 = df_q4.groupby('insert_date').count().id.reset_index()

In [11]:
df_q4.head()

  insert_date    id
0  2023-10-01  3127
1  2023-10-02  3235
2  2023-10-03  3121
3  2023-10-04  3216
4  2023-10-05  3160

In [12]:
media_diaria = df_q4.id.mean()
print("Média Diária:", media_diaria)

Média Diária: 3125.0