# Notebook de desenvolvimento da analise

No meu processo de dsentvolvimewnto utilizo notebooks devido a sua praticidade na exploração e na analise de dados. Com uma abordagem muito proxima dos dados e dos resutados do processo de etl.

In [1]:
# Imports: pandas para tratamento de dados, sqlalchemy para conectar aos bancos de daddos
from datetime import datetime
import pandas as pd
from sqlalchemy import create_engine

In [5]:
# Urls de conexão

url_db_source = "postgresql+pg8000://postgres:senhasourcedb@localhost:10000/sourcedb"
url_db_target = "postgresql+pg8000://postgres:senhatargetdb@localhost:11000/targetdb"

In [6]:
# Engines para comunicação

src_engine = create_engine(url_db_source)
target_engine = create_engine(url_db_target)

## Coletando dados
Neste trecho os dados serão coletados no servidor e modificados.

In [7]:
src_sql = "SELECT * FROM t_ponto"

df = pd.read_sql(src_sql, src_engine)

In [20]:
df.head()

,id,insert_date,username,company,parsed_insert_date
0,d64a9a47-5c2f-4194-a8db-39407582398e,2023-10-08 22:15:20,andregoncalves@example.org,72389450000129,2023-10-08
1,e94dd7f1-1000-4afa-aad1-1956d46d4e8b,2023-11-04 11:17:39,manuela26@example.net,59120834000183,2023-11-04
2,04e9b5f0-d574-41ec-bf53-dfdcfd4b8b5b,2023-11-07 06:54:08,rvieira@example.com,10697432000157,2023-11-07
3,6bbb5e55-d775-4fa9-8c17-5617f5dbb2ec,2023-11-06 16:00:05,sophiamartins@example.com,69275348000198,2023-11-06
4,3dae1581-8907-4747-a31a-7d805fa1055f,2023-10-12 14:11:14,freitasana-sophia@example.org,85213407000150,2023-10-12

In [21]:
df.shape

(500000, 5)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  500000 non-null  object
 1   insert_date         500000 non-null  datetime64[ns]
 2   username            500000 non-null  object
 3   company             500000 non-null  object
 4   parsed_insert_date  500000 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 19.1+ MB

### 1. Quantidade de pontos por usuário

In [25]:
df_q1 = df.groupby(["username"]).count().id.reset_index()
df_q1.head()

               username  id
0  aalmeida@example.com  33
1    aalves@example.net  30
2    aalves@example.org  19
3   aaragao@example.net  22
4   aaragao@example.org  22

In [26]:
df_q1.to_sql("q1__quantidade_apontamentos_ususario",target_engine, index=False )

20000

### 2. Quantidade de pontos por empresa

In [27]:
df_q2 = df.groupby("company").count().id.reset_index()
df_q2.head()

          company   id
0  01248597000150  456
1  01429753000180  630
2  01456728000195  461
3  01625837000199  600
4  01629843000114  505

In [28]:
df_q2.to_sql("q2__quantidade_apontamentos_empresa",target_engine, index=False )

1000

### 3. Usuários que mais tiveram pontos

In [29]:
df_q3 = df_q1.sort_values("id", ascending=False)[:10]
df_q3.head(20)

                              username  id
19779               ypinto@example.com  50
12309    marcos-vinicius64@example.com  47
6723           fariasbruno@example.org  46
15589  pereirajoao-gabriel@example.com  45
2523         bryanda-rocha@example.com  45
10478            larissa22@example.net  45
14419         nicoleda-paz@example.org  44
19996               zviana@example.org  44
18977           vinicius47@example.net  44
4147    da-conceicaocamila@example.com  43

In [30]:
df_q3.to_sql("q3__top10_usuarios",target_engine, index=False )

10

### 4. Média diária de marcações

In [31]:
df_q4 = df.copy()
df_q4["insert_date"] = df_q4["insert_date"].apply(lambda x: x.date())
df_q4 = df_q4.groupby('insert_date').count().id.reset_index()

In [32]:
df_q4.head()

  insert_date     id
0  2023-10-01  12993
1  2023-10-02  13152
2  2023-10-03  13023
3  2023-10-04  13336
4  2023-10-05  13199

In [33]:
df_q4.to_sql("q4__media_diaria",target_engine, index=False )

38

In [34]:
media_diaria = df_q4.id.mean()
print("Média Diária:", media_diaria)

Média Diária: 13157.894736842105